body {
font-family: 'Abril Fatface', cursive;
  margin: 0;
}


h1 {
  color:white;
  background-color: orange;
  padding:12px;
  font-size: 36pt;
  margin-top:36px;
  text-align: center;
}


main {
    width:75%;
    margin:0 auto;
justify-content:center;
display: flex;
flex-wrap: wrap;
}

h2 {
    color:orange;
    font-size: 14pt;
    margin-top: -15pt;
    font-family: 'Abril Fatface', cursive;
    word-spacing: 2pt;
    letter-spacing: 2pt;
    text-align: center;
}

.text {
    border: 2px solid orange;
}

@media screen and (max-width:500px) {
    main {
        width: 100%;
    }
    .info {
        flex-basis: 100%;
    }
    p {
        font-size:smaller;
    }
}
